* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(207, 207, 189);
}

h1 {
    font-size: 3rem ;
    font-weight: 700;
    color: rgb(37, 37, 153);
    text-shadow: 2px 2px 5px black ;
    margin: 3rem 3rem;
}

.one {
    min-width: 30ch;
    background-color: rgb(93, 93, 219);
    border-radius: 8px;
    letter-spacing: 1px;
    margin: 2rem;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 10px 10px 5px rgb(92, 85, 85);
}

a {
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}