*{
    padding: 0;
    margin: 1rem;
}

h1 {
    background-color: red;
    color: #fff;
    width: 80%;
    margin-left: 1rem;
}

.title {
    color: darkgray;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

footer {
    font-size: 1.5rem;
}